language: python

python:
  - "3.4"
  - "3.5"
  - "3.6"

install:
    - pip install -r requirements-test.txt
    - pip install coveralls

before_script:
    - flake8 --ignore=E501 certificator

script:
    - py.test

after_script:
    - coveralls
